body {
    background-color: darkgrey;
}

.navbar {
    background-color: #292929;
}

.nav-link, .navbar-brand, .nav-prihl {
    color: white;
    font-weight: bold;
}

.nav-prihl {
    text-decoration: none;
    margin-top: 18px;
    margin-left: 5px;
}

.prihlasenie {
    margin-left: 13%;
}

.card-title {
    color: #292929;
}

.nav-prihl:hover {
    color: #ff6700;
}

.btn {
    background-color: #ff6700;
    color: #292929;
    font-weight: bold;
}

.btn:hover {
    background-color: #292929;
    color: #ff6700;
}

.navbar-brand {
    font-size: 30px;
}

.navbar-brand:hover {
    color: white;
}

.nav-link {
    font-size: 25px;
}

.bif:hover {
    color: #ff6700;
    transform: scale(1.10, 1.10);
}

.bif, .nadpis, p, h1 {
    color: white;
    padding: 10px;
    font-weight: bold;
}

h1 {
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 30px;
}

.tlac {
    margin-left: 40%;
    margin-bottom: 20px;
}

.text {
    color: white;
    font-weight: bold;
}

a, .log-prihlasenie, .log-registracia {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
}
.log-prihlasenie, .log-registracia {
    padding-left: 80px;
}

.log-prihlasenie:hover, .log-registracia:hover {
    text-decoration: underline;
    color: #ff6700;
}

.nadp, .tex, .obr {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.tex, .obr {
    padding-left: 20px;
}

.tex, .obr, .nadp {
    margin-left: 60px;
}

.text {
    padding-left: 30px;
    display:inline-block;
}

label {
    text-decoration: none;
}

.nadpis:hover {
    color: #ff6700;
    text-decoration: none;
}

.nav-link:hover {
    color: white;
    background-color: #ff6700;
    transform: scale(1.10, 1.10);
    border-radius: 12%;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg%27%3E%3Cpath stroke='rgba(233,238,241, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav {

    justify-content: center;
}

.prispevok {
    border-radius: 15px;
    border: 3px solid #ff6700;
    width: 65%;
    padding-top: 15px;
}
img  {
    width: 100%;
    height: auto;
    padding-left: 10px;
    border-radius: 15px;
    vertical-align: middle;
}

p {
    display: inline;
}

.container-fluid {
    padding-left: 15%;
    background-color: #292929;
}

.copy {
    text-align: center;
    font-weight: bold;
}
.border-bottom {
    background-color: #292929;
}


.bif {
    font-size: 50px;
    padding-left: 10px;
}

.footer {
    text-align: center;
    color: #292929;
    background-color: #292929;
}
/* Dropdown Button */
.dropbtn {
    background-color: #292929;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
    left: 10px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #292929;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ff6700;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #ff6700;}